.box {
    border: 1px solid black;
    height: 20px;
    width: 20px;
}

/* adds the color to grid when mouse moves over */
.blackPen {
    background-color: black;
}

#grid-container {
    border: 2px solid red;
    /* Below are part of the CSS Grid styling */
    display: grid;
    grid-template-columns: repeat(16, auto);
    justify-content: center;
}