.box {
    border: 1px solid black;
}

/* adds the color to the box as mouse moves over it */
.blackPen {
    background-color: black;
}

#grid-container {
    /* Below are part of the CSS Grid styling */
    display: grid;
    height: 800px;
    width: 800px;
}